<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Dance Academy</title>
    <link rel="stylesheet" href="/static2/style/style.css">
    <link rel="stylesheet" media="screen and (max-width:650px)" href="/static2/style/mobilestyle.css">
</head>
<body>
    <section class="navbar_section">
        <ul class="navbar">
            <a href="/"><li>Home</li></a>
            <a href="/admission"><li>Admission</li></a>
            <a href="/contactus"><li>Contact Us</li></a>
            <a href="/about"><li>About Us</li></a>
        </ul>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
    </section>
    <section class="heading">
        <h1>Welcome to Gaytri Vidyapeeth , Sarmera </h1>
        <h2>The Finest one to shape youngster</h2>
    </section>
    <section class="mission">
        <h1>Mission</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ipsum at id iure, debitis eligendi, dolorem provident eius aliquam ratione corrupti magni sint non perspiciatis corporis in? Odio dolorem nisi minus mollitia officiis, dolorum sapiente vitae asperiores incidunt soluta. Quasi tenetur dicta aperiam optio necessitatibus saepe aliquid asperiores, dolorum voluptas.<a href="" id="hidestatus"> Read more...</a></p>
        <p id="hidepara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis odio incidunt repellat totam! Laudantium ex ratione doloribus voluptatibus sequi ea iure quod ad facilis. Rerum, at consequatur quis hic numquam vitae dolores dolorum iste eligendi sed odio adipisci voluptate natus dignissimos maxime delectus cupiditate aliquam maiores neque ipsam non eum? Deleniti sed molestiae architecto odit hic possimus id eligendi unde velit earum! Hic reiciendis reprehenderit cumque. Ipsam, nam necessitatibus earum ipsum eaque officiis quidem id velit recusandae rem quisquam, tempore, eum aliquid quam at distinctio. Neque perspiciatis earum harum? Consequuntur ab consequatur beatae, doloribus maiores eius tempore inventore quibusdam?</p>

    </section>
    <section class="footer">
        <p>&copy 2023 Avishkar&trade; </p>
    </section>
</body>
</html>